# Twilio credentials
SMS_ACCOUNT_ID="REPLACE ME WITH TWILIO ACCOUNT ID"
SMS_AUTH_TOKEN="REPLACE ME WITH TWILIO AUTH TOKEN"
SMS_FROM_NUMBER="REPLACE ME WITH TWILIO PHONE NUMBER REQUESTED"
SMS_TO_NUMBER="REPLACE ME WITH A REAL PHONE NUMBER TO TEST THE APP FORMAT +13332221234"

# Watson Visual recognizion IAM API key
WATSON_VISUAL_RECOGNITION_IAM_API_KEY="REPLACE ME IF NOT USING BX WSK SERVICE BIND"